# =====================
# Python
# =====================
__pycache__/
*.py[cod]

# =====================
# Django
# =====================
db.sqlite3
*.log
local_settings.py

# =====================
# Secrets
# =====================
api.txt
.env
.env.*

# =====================
# Virtual Environments
# =====================
venv/
env/
.venv/

# =====================
# Nix
# =====================
.nix-shell/
result
shell.nix

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Test / cache
# =====================
.pytest_cache/
.mypy_cache/
.coverage
